.bundle/
vendor/bundle
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/public/uploads
spec/dummy/config/locales/*.yml

.tags
tags
.tags_sorted_by_file
multilang.sublime-project
multilang.sublime-workspace
.idea/
*.DS_Store
