var translation_field = $('.new-translation-key-field');
<% if @translation_key.errors[:key].any? %>
  translation_field.find('.help-block').remove();
  translation_field.addClass('has-error');
  var error_html = '<div class="help-block"><%= j(@translation_key.errors.get(:key).first) %></div>';
  translation_field
    .append(error_html);
<% else %>
  $('.translations-list')
    .prepend("<%= j(render 'multilang/translations/key_item', key: @translation_key, searcher: @searcher) %>");
  $('#new-translation-popap').removeClass('md-show').addClass('md-hide');
  translation_field.find('input').val('');
  translation_field.find('.help-block').remove();
  translation_field.removeClass('has-error');
<% end %>
