<!DOCTYPE html>
<html>
<head>
  <title>Multilang</title>
  <%= stylesheet_link_tag    "multilang/application", media: "all" %>
  <%= javascript_include_tag "multilang/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
